
.wrap-content section{
	background: #ddd;
	min-height: 610px;
	padding: 15px;
}
.wrap-content section header{
	padding-bottom: 25px;
}
.wrap-content section header *{
	display: inline-block;
	padding: 0;
	text-transform: lowercase;
}

.home section{
	border-bottom: 1px solid #333333;
	overflow: hidden;
}
.home section:last-child{
	border:none;
}
.home section header a{
	font-weight: bold;
	border-left: 1px solid	#000;
	padding: 8px 10px;
	margin: 0 0 0 10px;
}

/*Banner*/
.home .banner{
	border-bottom:3px #222222 solid;
	background-color: #222222;
	background-image: url("../images/bg-banner.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment:fixed;
	background-size:cover;
	padding:0;
	min-height: 700px;
}
.home .banner .form-lead{
	width: 100%;
	max-width: 700px;
	margin: 25% auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2rem;

}
.home .banner  h1{
	margin-top: 0;
	color: #ffffff;
}
.home .banner  h2{
	font-size: 2rem;
	color: #ffffff;
}
.home .banner .form-lead blockquote{
	color: #ffffff;
	text-align: left;
}

/*About*/
.home .about{
	background: #222222;
	border-bottom: 4px solid rgba(29, 186, 170, 1);
	padding: 2.5rem 0;
}
.home .about .wrap-section{
	position: relative;
	max-width: 1170px;
	margin: auto;
}
.home .about .wrap-section h1{
	color:#ffffff;
}
.home .about .wrap-section .text{
	color: #ffffff;
	padding: 0 2rem 2rem 2rem;
}
.home .about .photo{
	text-align: center;
}
.home .about .photo img{
	height: auto;
	width: 100%;
	max-width: 336px;
}

/*Movies*/
.home .movies{
	background-color: #ffffff;
	border-bottom: 4px solid #ff5f03;
}
.home .movies a{
	color: rgba(29, 186, 170, 1);
}

/*Photographs*/
.home .photographs{
}

/*Contact*/
.home .contact{
	background-color: #333333;
}
.home .contact h1{
	color: #ffffff;
}
.home .contact form{
	max-width: 768px;
	margin: 70px auto;
}
.home .contact form textarea{
	min-height:18rem;
}

/*Media Querys*/
@media screen and (min-width:768px){
}

@media screen and (min-width:992px){
	/*About*/
	.home .about {
		min-height: auto;
		padding: 7.5rem 0;
	}
	.home .about .photo,
	.home .about .text{
		display: inline-block;
		vertical-align: middle;
	}
	.home .about .photo{
		width: 40%;
	}
	.home .about .photo img{
		margin:4%;
	}
	.home .about .text{
		margin: auto 4%;
		width: 50%;
	}
}

@media screen and (min-width:1280px){
}

@media screen and (min-width:1366px) {
	/*Banner*/
	.home .banner{
		position: relative;
	}
	.home .banner .form-lead{
		margin: 0;
		position: absolute;
		top: 35%;
		right: 100px;
	}
	.home .banner .form-lead span{
		width: 48%;
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
	}
}
