/*#ff5f03*/

body {
	padding-top: 71px;
	position: relative;
	background: #dddddd;
}

h1{
	font-size: 2.5rem;
	font-weight: bold;
	color:#000000;
}

h2{
	font-size: 2.0rem;
	font-weight: bold;
	color:#000000;
}

.layout{
	max-width: 100%;
	margin: auto;
}

.social i{
	font-size: 2.3rem;
}


.brand{
	font-size: 18px;
	color: #ffffff !important;
	overflow: visible;
}
.brand img{
	display:inline-block;
	max-height: 32px;
	margin-left: 16px;
}
.brand span{
	display:inline-block;
	font-weight: bold;
	vertical-align: top;
}
.brand span:first-child{
	color: #ffffff;
}
.brand span:nth-child(n+2) {
	color: #ff5f03;
}


.navbar-inverse{
	background: rgba(0,0,0,0.75)
}

.container >.navbar-header,
.container-fluid >.navbar-header{
	background: #222222;
}

.navbar-inverse .navbar-nav >.active > a,
.navbar-inverse .navbar-nav >.active > a:hover,
.navbar-inverse .navbar-nav >.active > a:focus{
	background: rgba(0,0,0,0.50);
}


.navbar-brand{
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-fixed-top,
.container-fluid,
.navbar-header{
	min-height: 71px;
}
.navbar-toggle{
	margin-top: 18px;
}
.navbar-collapse{
	max-height: 600px !important;
}
.navbar-right{
	margin-right: 0;
}
.navbar-right li:first-child,
.navbar-right li.social,
.navbar-right li.language{
	border-top: 1px solid #999999;
}
.navbar-right li.social,
.navbar-right li.language{
	padding-left: 15px;
}
.navbar-nav > li > a{
	padding: 25px 0.9rem;
}
.navbar-nav > li a:hover{
	color: #dddddd;
}
.navbar-center > li > a.active{
	padding-bottom: 5px;
	border-bottom: 2px solid #ff5f03;
}
.navbar-nav .language > a,
.navbar-nav .social > a{
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
	display: inline-block;
}
.navbar-nav .language > a{
	font-weight: bold;
}

.footer{
	font-size: 1rem;
	color:#ffffff;
	background-color: #222;
	padding-bottom: 1em;
}
.footer .row-1{
	border-bottom: 1px solid #333;
	min-height: 380px;
}
.footer .row-2{
	padding: 15px 0 0 0;
}
.footer .brand img{
	margin-top: 0;
}
.footer h1{
	font-size: 1.7em;
	margin: 0 0 2rem 0;
	color:#ffffff;
}
.footer section{
	font-size: 1.2em;
}
.footer nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer a{
	color:#ffffff;
}
.footer a:hover{
	color:#eeeeee;
}
.footer section{
	padding: 15px;
}
.footer nav ul:first-child{
	margin-bottom: 10px;
}
.footer article{
	padding-bottom:1.2rem;
	margin-bottom:1.2rem;
	border-bottom: 1px solid #333;
}
.footer article:last-child{
	border: none;
}

.form-lead{
	width:100%;
	max-width: 320px;
}
.form-lead input,
.form-lead button{
	width: 100%;
}
.form-lead input{
	margin-bottom: 5px;
}
.form-lead button{
	font-weight: bold;
}

.footer .social a{
	margin: 5px 5px 10px 0;
	display: inline-block;
}
.footer .copyright{
	text-align: left;
	padding: 1rem 0;
}

.pages{
	min-height: 800px;
	padding: 15px;
}
.pages header{
	padding: 25px 0 10px;
	margin-bottom: 15px;
}
.pages h1{
	margin: 0;
	text-transform: lowercase;
}
.pages h2{
	margin: 10px 0 30px 0;
}
.pages .sidebar,
.pages .content{
	display: inline-block;
	vertical-align: top;
}
.pages .sidebar{
	width: 100%;
	margin: 0 0 10px;
}
.pages .content{
	width: 100%;
}
.pages .content iframe{
	display: block;
 	margin: 10px auto;
  width: 100%;
  max-width: 750px;
  min-height: 450px;
}

.pages .sidebar a{
	color: #222222;
	font-size: 1.7rem;
}
.pages .sidebar li{
	border-bottom: 1px solid #cccccc;
}
.pages .sidebar li:last-child{
	border-bottom: 0;
}

.boxes{
	text-align: center;
	font-size: 0;
}
.box{	
	position: relative;
	display: inline-block;
	width:100%;
	min-width:240px;
	max-width:480px;
	margin: 0 4px 4px 0;
}
.box img{
	width: 100%;
	height: auto;
}

.box .legend{
	display: block;
	position: absolute;
	text-align: left;
	bottom: 0;
	padding:20px;
	height: 100%;
	width: 100%;	
}
.box .legend div{
	display: inline-block;
	vertical-align: middle;
}
.box .legend h2{
	font-size: 2rem;
	color: #eeeeee;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #000000;
}
.box .icon-play{
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 4rem;
	color: rgba(255,255,255,0.45);
}
.box .legend h2 small{
	color:#ffffff;
}
.box .legend h2 .translation{
	font-size:0.8em;
	padding-top: 5px;
	color:#dddddd;
	text-shadow: 1px 1px 1px #000000;
}
.box a:hover .legend{
	background-color: rgba(0,0,0,0);
}
.box a:hover .legend h2,
.box a:hover .legend h2 small{
	color: #ffffff;
}


.pages.about{
	font-size: 1.5rem;
	color: #ffffff;
	padding: 15px 0;
}
.pages.about .wrap{
	display: inline-block;
	vertical-align: top;
}
.pages.about .top{
	background-color: rgba(0,0,0,1);
	border-bottom: 20px solid rgba(75,75,75,1);
}
.pages.about .top .wrap-image{
	width: 100%;
}
.pages.about .top .wrap-image img{
	width: 100%;
}
.pages.about .top .wrap-text{
	text-align: center;
	width: 100%;
	margin-top: 20px;
	padding: 10px 22px;
}
.pages.about .introduction{
	text-align: center;
	padding: 5rem;
	background-color: rgba(170,170,170,1);
}
.pages.about .introduction .wrap-text{
	max-width:1170px;
	margin:auto;
}
.pages.about .introduction h3{
	color: #ff5f03;
	font-weight: bold;
	margin-bottom: 25px;
}
.pages.about .curriculum{
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255,255,255,1);
}
.pages.about .curriculum .wrap-content{
	width: 100%;
	max-width:1280px;
	margin:auto;
	padding: 15px 0;
}
.pages.about .curriculum .wrap-image{
	width: 100%;
	text-align: center;
	padding-top:8rem;
}
.pages.about .curriculum .wrap-image img{
	width: 100%;
	max-width: 280px;
}
.pages.about .curriculum .wrap-text{
	text-align: left;
	width: 100%;
	padding: 0 15px;
}
.pages.about .curriculum .wrap-text h3{
	color: #000000;
	font-weight: bold;
	margin-bottom: 25px;
}

/*GALLERY*/
.pages .gallery{
	text-align: center;
}
.pages .gallery img{
	width: 100%;
	height: auto;
	border: none !important;
	margin: 0;
}
.pages .gallery figure{
	display: inline-block;
	margin: 1px !important;
	width: 100%;
	max-width: 330px;
}


@media screen and (min-width: 768px) {
	.navbar-inverse{
		background: #222222;
	}
	.navbar-nav .language > a,
	.navbar-nav .social > a{
		padding-bottom: 20px;
	}
	.navbar-collapse .navbar-right li{
		border-top: none !important;
	}
	.footer .copyright{
		font-size: 1.5rem;
		padding:0;
	}
	.box{
		width: 49%;
	}
}

@media screen and (min-width: 992px) {
	.navbar-brand img{
		position: absolute;
		top:12px;
		left: -50px;
		margin-left: 25%;
		max-height: none;
		width: 100px;
	}
	.navbar-center {
		position: absolute;
		width: 340px;
		left: -170px;
		margin-left: 50%;
		text-align: center;
	}
	.navbar-center li{
		display: inline-block;
		text-align: center;
		float: none;
	}
	.footer .row-1{
		text-align: center;
	}
	.footer section{
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	.footer .latest-posts{
		max-width: 320px;
	}
	.footer .copyright{
  		text-align: right;
	}

	.pages{
		padding: 50px 0;
	}
	.pages header{
		padding-left:10px;
		padding-right:10px;
	}
	.pages .sidebar{
		width: 20%;
		margin-right: 2%;
	}
	.pages .content{
		width: 77.5%;
	}

	/*GALLERY*/
	.pages .gallery figure{
		width: 24.6%;
	}

}

@media screen and (min-width: 1280px) {
	.footer section{
		margin-left: 2%;
		margin-right: 2%;
	}
	.footer .latest-posts{
		max-width: 360px;
	}
	.footer .form-lead{
		max-width: 360px;
	}
	.box{
		width: 24.6%;
	}

	.page .about .top{
		position: relative;
	}
	.page .about .top .wrap-image{
		width: 70%;
	}
	.page .about .top .wrap-text{
	    position: absolute;
	    right: 0;
	    font-size: 1.6rem;
	    width: 37.5%;
	    margin-top: 5%;
	    padding: 20px;
	}

	.page .about .curriculum .wrap-image{
		width: 30%;
	}
	.page .about .curriculum .wrap-text{
		font-size: 1.5rem;
		text-align: left;
		width:  68%;
		margin-top: 20px;
	}
}

@media screen and (min-width: 1680px) {
	.page .about .top .wrap-text{
	    font-size: 2.0rem;
	    width: 37.5%;
	}

}

@media screen and (min-width: 1920px) {
	.page .about .top .wrap-text{
	    font-size: 2.4rem;
	    width: 37.5%;
	}
}
